@Scripts.Render("~/Scripts/jquery.AshAlom.gaugeMeter-2.0.0.min.js")
@using Core.Transcoder.Utils.Resources
@model Core.Transcoder.DataAccess.ViewModels.HomeViewModel


<div id="content_banner" role="main" tabindex="-1" style="height:510px;">
    <div class="container">
        <div class="row">
            <div id="transcoder_title"><img src="~/Content/Images/Transcoder.png" style="width:40%; height:auto;"/></div>
        </div>
        <div class="row" style="padding-left:0.75%">
            <p class="transcoder_summary_white">@UiStrings.app_summary</p>
            @Html.ActionLink(@UiStrings.home_button_get_started, "Register","Account",null, new { @id="bt_get_started" , @class="btn btn-primary"})
        </div>
    </div>
</div>

<div class="content_summary_gray row row-centered" style="background-color: #2588c6; margin-right: 0px; padding-top:25px;">

    <div class="col-md-4 col-sm-4 col-xs-12 col-centered">
        <div class="item">
            <div class="content center">
                <div id="gauge_users" class="gauge-meter-home-1"
                     data-percent="100"
                     data-theme="Red-Gold-Green"
                     data-size="200"
                     data-text="@(Model.UsersCount)"
                     data-label_color="White"
                     data-label="@UiStrings.home_gauge_users_datalabel">
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4 col-sm-4 col-xs-12 col-centered">
        <div class="item">
            <div class="content center">
                <div id="gauge_formats" class="gauge-meter-home-1"
                     data-percent="100"
                     data-theme="Red-Gold-Green"
                     data-size="200"
                     data-text="@(Model.UsersCount)"
                     data-label_color="White"
                     data-label="@UiStrings.home_gauge_formats_datalabel">
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4 col-sm-4 col-xs-12 col-centered">
        <div class="item">
            <div class="content center">
                <div id="gauge_conversions" class="gauge-meter-home-1"
                     data-text="@(Model.TaskCount)"
                     data-theme="Red-Gold-Green"
                     data-label_color="White"
                     data-size="200"
                     data-percent="100"
                     data-label="@UiStrings.home_gauge_conversions_datalabel">
                </div>
            </div>
        </div>
    </div>
</div>

<div class="content_summary_white row row-centered" style="margin-right: 0px; padding-bottom: 30px; height:540px;">
   
    <div>
        <!--  <div class="row ">-->
        <div class="container" >
            
            <div style="margin-top:5%" class="col-md-7 col-sm-7 col-xs-12 col-centered">
                <table style="margin-left: 20%; margin-top: 8%;">
                    <tr style="margin-bottom:20%;"><td style="padding-bottom:100%"><a href="/Account/Register"><img style="max-height: 80px; margin: 5px; margin-bottom: 30px" src="~/Content/Images/fb-logo_icon.jpg" /></a></td></tr>
                 
                    <tr><td><a href="/Account/Register"><img style="max-height: 80px; margin: 5px;" src="~/Content/Images/google_logo.png" /></a></td></tr>
                </table>
            </div>
            <div class="col-md-5 col-sm-5 col-xs-12 col-centered" style="margin-top: 10%;  padding-left: 5%">
                <h2 id="transcoder_title">@UiStrings.home_guest_social_title</h2>
                <p class="transcoder_summary_black" style="font-size: 20px; text-align: left">@UiStrings.home_guest_social_text</p>
            </div>
           
        </div>
    </div>
</div>


<div class="content_summary_blue row row-centered" style="margin-right: 0px; background-color:#06c6bf;">
    <div class="col-md-12 col-sm-12 col-xs-12 col-centered text-center">
        <div class="row row-centered text-center">
            <p id="transcoder_title" style="margin-bottom: 10px; margin-top: 10px; color:white;text-align:center;">@UiStrings.home_guest_community_title</p>
        </div>
        <div class="row row-centered text-center">
            <div class="col-md-2"></div>
            <div class="col-md-6" style="color: white; font-size: 20px; vertical-align: center; margin-top: 20px;">@UiStrings.home_guest_community_text</div>
            <div class="col-md-2 col-centered"><a href="https://github.com/alvinmeimoun" target="_blank"><img style="max-height: 80px; margin: 5px; margin-bottom: 30px;" src="~/Content/Images/btn-github.png"/></a>
            </div>
        </div>
    </div>
</div>

<script>
    $("#gauge_users").gaugeMeter();
    $("#gauge_formats").gaugeMeter();
    $("#gauge_conversions").gaugeMeter();
</script>
