@Scripts.Render("~/Scripts/jquery.AshAlom.gaugeMeter-2.0.0.min.js")
@using Core.Transcoder.Utils.Resources
@model Core.Transcoder.DataAccess.ViewModels.HomeViewModel


@*<div id="content_banner" role="main" tabindex="-1" style="height:510px;">
    <div class="container">
        <div class="row">
            <div id="transcoder_title"><img src="~/Content/Images/Transcoder.png" style="width:40%; height:auto;"/></div>
        </div>
        <div class="row" style="padding-left:0.75%">
            <p class="transcoder_summary_white">@UiStrings.app_summary</p>
            @Html.ActionLink(@UiStrings.home_button_get_started, "AddConversion","Conversion",null, new { @id="bt_get_started" , @class="btn btn-primary"})
        </div>
    </div>
</div>*@


<script type="text/javascript" src="~/Scripts/Slider/jssor.slider.mini.js"></script>
<!-- use jssor.slider.debug.js instead for debug -->
<script>
        jQuery(document).ready(function ($) {

            var jssor_1_SlideoTransitions = [
              [{b:5500,d:3000,o:-1,r:240,e:{r:2}}],
              [{b:-1,d:1,o:-1,c:{x:51.0,t:-51.0}},{b:0,d:1000,o:1,c:{x:-51.0,t:51.0},e:{o:7,c:{x:7,t:7}}}],
              [{b:-1,d:1,o:-1,sX:9,sY:9},{b:1000,d:1000,o:1,sX:-9,sY:-9,e:{sX:2,sY:2}}],
              [{b:-1,d:1,o:-1,r:-180,sX:9,sY:9},{b:2000,d:1000,o:1,r:180,sX:-9,sY:-9,e:{r:2,sX:2,sY:2}}],
              [{b:-1,d:1,o:-1},{b:3000,d:2000,y:180,o:1,e:{y:16}}],
              [{b:-1,d:1,o:-1,r:-150},{b:7500,d:1600,o:1,r:150,e:{r:3}}],
              [{b:10000,d:2000,x:-379,e:{x:7}}],
              [{b:10000,d:2000,x:-379,e:{x:7}}],
              //[{b:-1,d:1,o:-1,r:288,sX:9,sY:9},{b:9100,d:900,x:-1400,y:-660,o:1,r:-288,sX:-9,sY:-9,e:{r:6}},{b:10000,d:1600,x:-200,o:-1,e:{x:16}}]
            ];

            var jssor_1_options = {
              $AutoPlay: true,
              $SlideDuration: 1000,
              $SlideEasing: $Jease$.$OutQuint,
              $CaptionSliderOptions: {
                $Class: $JssorCaptionSlideo$,
                $Transitions: jssor_1_SlideoTransitions
              },
              $ArrowNavigatorOptions: {
                $Class: $JssorArrowNavigator$
              },
              $BulletNavigatorOptions: {
                $Class: $JssorBulletNavigator$
              }
            };

            var jssor_1_slider = new $JssorSlider$("jssor_1", jssor_1_options);

            //responsive code begin
            //you can remove responsive code if you don't want the slider scales while window resizing
            function ScaleSlider() {
                var refSize = jssor_1_slider.$Elmt.parentNode.clientWidth;
                if (refSize) {
                    refSize = Math.min(refSize, 1600);
                    jssor_1_slider.$ScaleWidth(refSize);
                }
                else {
                    window.setTimeout(ScaleSlider, 30);
                }
            }
            ScaleSlider();
            $(window).bind("load", ScaleSlider);
            $(window).bind("resize", ScaleSlider);
            $(window).bind("orientationchange", ScaleSlider);
            //responsive code end
        });
</script>

<style>
    /* jssor slider bullet navigator skin 05 css */
    /*
        .jssorb05 div           (normal)
        .jssorb05 div:hover     (normal mouseover)
        .jssorb05 .av           (active)
        .jssorb05 .av:hover     (active mouseover)
        .jssorb05 .dn           (mousedown)
        */
    .jssorb05 {
        position: absolute;
    }

        .jssorb05 div, .jssorb05 div:hover, .jssorb05 .av {
            position: absolute;
            /* size of bullet elment */
            width: 16px;
            height: 16px;
            background: url('/Content/Images/b05.png') no-repeat;
            overflow: hidden;
            cursor: pointer;
        }

        .jssorb05 div {
            background-position: -7px -7px;
        }

            .jssorb05 div:hover, .jssorb05 .av:hover {
                background-position: -37px -7px;
            }

        .jssorb05 .av {
            background-position: -67px -7px;
        }

        .jssorb05 .dn, .jssorb05 .dn:hover {
            background-position: -97px -7px;
        }

    /* jssor slider arrow navigator skin 22 css */
    /*
        .jssora22l                  (normal)
        .jssora22r                  (normal)
        .jssora22l:hover            (normal mouseover)
        .jssora22r:hover            (normal mouseover)
        .jssora22l.jssora22ldn      (mousedown)
        .jssora22r.jssora22rdn      (mousedown)
        */
    .jssora22l, .jssora22r {
        display: block;
        position: absolute;
        /* size of arrow element */
        width: 40px;
        height: 58px;
        cursor: pointer;
        background: url('/Content/Images/a22.png') center center no-repeat;
        overflow: hidden;
    }

    .jssora22l {
        background-position: -10px -31px;
    }

    .jssora22r {
        background-position: -70px -31px;
    }

    .jssora22l:hover {
        background-position: -130px -31px;
    }

    .jssora22r:hover {
        background-position: -190px -31px;
    }

    .jssora22l.jssora22ldn {
        background-position: -250px -31px;
    }

    .jssora22r.jssora22rdn {
        background-position: -310px -31px;
    }
</style>


<div id="jssor_1" style="position: relative; margin: 0 auto; top: 0px; left: 0px; width: 1300px; height: 500px; overflow: hidden; visibility: hidden;">
    <!-- Loading Screen -->
    <div data-u="loading" style="position: absolute; top: 0px; left: 0px;">
        <div style="filter: alpha(opacity=70); opacity: 0.7; position: absolute; display: block; top: 0px; left: 0px; width: 100%; height: 100%;"></div>
        <div style="position:absolute;display:block;background:url('/Content/Images/loading.gif') no-repeat center center;top:0px;left:0px;width:100%;height:100%;"></div>
    </div>
    <div data-u="slides" style="cursor: default; position: relative; top: 0px; left: 0px; width: 1300px; height: 500px; overflow: hidden;">
        <div data-p="225.00" style="display: none;">
            <img data-u="image" src="~/Content/Images/medias_zoom.png" style="background-position: 0% 30%;" />
            <div class="container" style="position: absolute; top: 15px; left: 8%; ">
                <img style="width:38%;height:auto;" src="~/Content/Images/transcoder.png" />
            </div>
            <div class="transcoder_summary_white" style="position: absolute; top: 30%;left: 10.5%;font-size: 22px;">@UiStrings.app_summary</div>
            @Html.ActionLink(@UiStrings.home_button_get_started, "AddConversion", "Conversion", null, new { @id = "bt_get_started", @class = "btn btn-primary" , @style= "position:absolute;font-size: 12px;margin-left: 11%; margin-top: 16%; " })
            <!--<div data-u="caption" data-t="0" style="position: absolute; top: 100px; left: 600px; width: 445px; height: 300px;">
                <img src="img/c-phone.png" style="position: absolute; top: 0px; left: 0px; width: 445px; height: 300px;" />
                <img src="img/c-jssor-slider.png" data-u="caption" data-t="1" style="position: absolute; top: 70px; left: 130px; width: 102px; height: 78px;" />
                <img src="img/c-text.png" data-u="caption" data-t="2" style="position: absolute; top: 153px; left: 163px; width: 80px; height: 53px;" />
                <img src="img/c-fruit.png" data-u="caption" data-t="3" style="position: absolute; top: 60px; left: 220px; width: 140px; height: 90px;" />
                <img src="img/c-navigator.png" data-u="caption" data-t="4" style="position: absolute; top: -123px; left: 121px; width: 200px; height: 155px;" />
            </div>-->

        </div>
        <div data-p="200.00" style="display: none;">
            <img data-u="image" src="~/Content/Images/Partition-Blur.png" />
            <div style="position: absolute;     top: 63%; left: 12%; width: 480px; height: 120px; font-size: 30px; color: #ffffff; line-height: 38px;">@UiStrings.home_guest_subtitle</div>
            <div data-u="caption" data-t="3" style="position: absolute; top: 120px; left: 650px; width: 470px; height: 220px;">
                <img src="~/Content/Images/c-phone-horizontal.png" style="position: absolute; top: 0px; left: 0px; width: 470px; height: 220px;" />
                <div style="position: absolute; top: 4px; left: 45px; width: 379px; height: 213px; overflow: hidden;">
                    <img src="~/Content/Images/pic1.png" data-u="caption" data-t="6" style="position: absolute; top: 0px; left: 0px; width: 379px; height: 213px;" />
                    @*<img src="~/Content/Images/pic2.PNG" data-u="caption" data-t="7" style="position: absolute; top: 0px; left: 379px; width: 379px; height: 213px;" />*@
                    <img src="~/Content/Images/pic3.PNG" data-u="caption" data-t="7" style="position: absolute; top: 0px; left: 379px; width: 379px; height: 213px;" />
                </div>
                <img src="~/Content/Images/c-navigator-horizontal.png" style="position: absolute; top: 4px; left: 45px; width: 379px; height: 213px;" />
                <img src="~/Content/Images/c-finger-pointing.png" data-u="caption" data-t="8" style="position: absolute; top: 740px; left: 1600px; width: 257px; height: 300px;" />
            </div>
        </div>
        @*<div data-p="225.00" style="display: none;">
            <img data-u="image" src="~/Content/Images/blue.jpg" />
        </div>*@

    </div>
    <!-- Bullet Navigator -->
    <div data-u="navigator" class="jssorb05" style="bottom:16px;right:16px;" data-autocenter="1">
        <!-- bullet navigator item prototype -->
        <div data-u="prototype" style="width:16px;height:16px;"></div>
    </div>
    <!-- Arrow Navigator -->
    <span data-u="arrowleft" class="jssora22l" style="top:0px;left:12px;width:40px;height:58px;" data-autocenter="2"></span>
    <span data-u="arrowright" class="jssora22r" style="top:0px;right:12px;width:40px;height:58px;" data-autocenter="2"></span>
</div>

<div class="content_summary_gray row row-centered" style="background-color: #2588c6; margin-right: 0px; padding-top:25px;">

    <div class="col-md-4 col-sm-4 col-xs-12 col-centered">
        <div class="item">
            <div class="content center">
                <div id="gauge_users" class="gauge-meter-home-1"
                     data-percent="100"
                     data-theme="Red-Gold-Green"
                     data-size="200"
                     data-text="@(Model.UsersCount)"
                     data-label_color="White"
                     data-label="@UiStrings.home_gauge_users_datalabel">
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4 col-sm-4 col-xs-12 col-centered">
        <div class="item">
            <div class="content center">
                <div id="gauge_formats" class="gauge-meter-home-1"
                     data-percent="100"
                     data-theme="Red-Gold-Green"
                     data-size="200"
                     data-text="@(Model.CombinationCount)"
                     data-label_color="White"
                     data-label="@UiStrings.home_gauge_formats_datalabel">
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4 col-sm-4 col-xs-12 col-centered">
        <div class="item">
            <div class="content center">
                <div id="gauge_conversions" class="gauge-meter-home-1"
                     data-text="@(Model.TaskCount)"
                     data-theme="Red-Gold-Green"
                     data-label_color="White"
                     data-size="200"
                     data-percent="100"
                     data-label="@UiStrings.home_gauge_conversions_datalabel">
                </div>
            </div>
        </div>
    </div>
</div>

<div class="content_summary_white row row-centered" style="margin-right: 0px; padding-bottom: 30px; height:540px;">
   
    <div>
        <!--  <div class="row ">-->
        <div class="container" >
            
            <div style="margin-top:5%" class="col-md-7 col-sm-7 col-xs-12 col-centered">
                <table style="margin-left: 20%; margin-top: 8%;">
                    <tr style="margin-bottom:20%;"><td style="padding-bottom:100%"><a href="/Account/Register"><img style="max-height: 80px; margin: 5px; margin-bottom: 30px" src="~/Content/Images/fb-logo_icon.jpg" /></a></td></tr>
                 
                    <tr><td><a href="/Account/Register"><img style="max-height: 80px; margin: 5px;" src="~/Content/Images/google_logo.png" /></a></td></tr>
                </table>
            </div>
            <div class="col-md-5 col-sm-5 col-xs-12 col-centered" style="margin-top: 10%;  padding-left: 5%">
                <h2 id="transcoder_title">@UiStrings.home_guest_social_title</h2>
                <p class="transcoder_summary_black" style="font-size: 20px; text-align: left">@UiStrings.home_guest_social_text</p>
            </div>
           
        </div>
    </div>
</div>


<div class="content_summary_blue row row-centered" style="margin-right: 0px; background-color:#06c6bf;">
    <div class="col-md-12 col-sm-12 col-xs-12 col-centered text-center">
        <div class="row row-centered text-center">
            <p id="transcoder_title" style="margin-bottom: 10px; margin-top: 10px; color:white;text-align:center;">@UiStrings.home_guest_community_title</p>
        </div>
        <div class="row row-centered text-center">
            <div class="col-md-2"></div>
            <div class="col-md-6" style="color: white; font-size: 20px; vertical-align: center; margin-top: 20px;">@UiStrings.home_guest_community_text</div>
            <div class="col-md-2 col-centered"><a href="https://github.com/alvinmeimoun" target="_blank"><img style="max-height: 80px; margin: 5px; margin-bottom: 30px;" src="~/Content/Images/btn-github.png"/></a>
            </div>
        </div>
    </div>
</div>

<script>
    $("#gauge_users").gaugeMeter();
    $("#gauge_formats").gaugeMeter();
    $("#gauge_conversions").gaugeMeter();
</script>
