@using Core.Transcoder.DataAccess.ViewModels;
@using Core.Transcoder.Utils.Resources
@model RegisterViewModel
@{
    ViewBag.Title = @UiStrings.register_page_title;
}

<div class="sitecontent-login">
    <div class="wrapper-login form-login">
        <h1 class="pagetitle">@ViewBag.Title</h1>

        <div class="row">
            <div class="col-md-6">
                @Html.Partial("_LoginExternalPartial")
            </div>

            <div class="col-md-6">
                @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal styled-form-login", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    <h4>@UiStrings.register_section_title_standard_account</h4>
                    <hr />
                    @Html.ValidationSummary(false)
                    <div class="form-group">
                        @*<p class="col-md-2 control-label" style="text-align: center;">@UiStrings.register_form_username</p>*@
                        <div class="col-md-10">
                            @Html.TextBoxFor(m => m.Username, new { @class = "form-control", @style = "text-align: center; max-width: none; font-family:Arial;", @placeholder = @UiStrings.register_form_username })
                            @Html.ValidationMessageFor(m => m.Username)
                        </div>
                    </div>
                    <div class="form-group">
                        @*<p class="col-md-2 control-label" style="text-align: center;">@UiStrings.register_form_email</p>*@
                        <div class="col-md-10">
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @style = "text-align: center; max-width: none; font-family:Arial;", @placeholder = @UiStrings.register_form_email })
                            @Html.ValidationMessageFor(m => m.Email)
                        </div>
                    </div>
                    <div class="form-group">
                        @*<p class="col-md-2 control-label" style="text-align: center;">@UiStrings.register_form_password</p>*@
                        <div class="col-md-10">
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control", @style = "text-align: center; max-width: none; font-family:Arial;", @placeholder = @UiStrings.register_form_password })
                            @Html.ValidationMessageFor(m => m.Password)
                        </div>
                    </div>
                    <div class="form-group">
                        @*<p class="col-md-2 control-label" style="text-align: center;">@UiStrings.register_form_password_confirm</p>*@
                        <div class="col-md-10">
                            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", @style = "text-align: center; max-width: none; font-family:Arial;", @placeholder = @UiStrings.register_form_password_confirm })
                            @Html.ValidationMessageFor(m => m.ConfirmPassword)
                        </div>
                    </div>
                    <div class="form-group">

                        <div class="col-md-offset-2 col-md-10 button-col">
                            <input type="submit" class="button-contact-login" value="@UiStrings.register_button_valid" />
                        </div>
                    </div>

                }
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
